/*=============================================
=            Variables            =
=============================================*/

//fonts
$font_graphic-web: "Graphik Web";
$font_boing: "HILVCC+Boing";
//colors
$color_home-top-purple: #683bc3;
$color_purple: #683bc3;
$color_black-lighter: #293340;
//sizes
$size_border-radius: 5px;
$size_wrapper-width: 1200px;
//gradients
$gradient_pink: linear-gradient(-135deg, #ff1f76 0%, #504aeb 100%);
$gradient_green: linear-gradient(-135deg, #3be8b0 0%, #02cdff 100%);
$gradient_blue: linear-gradient(-135deg, #a077ff 0%, #02cdff 100%);
//mixins
.icon-custom {
    display: inline-block;
    vertical-align: middle;
    background-size: content;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin icon-generator($width, $height, $url) {
    width: $width;
    height: $height;
    background-image: url($url);
}


/*=====  End of Variables  ======*/


/*=============================================
=            Common modifications            =
=============================================*/

* {
    outline: none;
}

body {
    font-family: $font_graphic-web;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    &:focus,
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}


/*=====  End of Common modifications  ======*/


/*=============================================
=            Icons            =
=============================================*/

.icon-custom-instagram {
    @include icon-generator(26px, 26px, "../images/icons/facebook.svg");
}


/*=====  End of Icons  ======*/


/*=============================================
=            Shared elements and componenets            =
=============================================*/

.wrapper {
    width: $size_wrapper-width;
    margin: 0 auto;
}

.heading-title {
    /* Manage your accounts: */
    font-family: $font_boing;
    font-weight: 500;
    font-size: 36px;
    color: #293340;
    letter-spacing: -0.6px;
}

.desc-text {
    font-family: $font_graphic-web;
    font-size: 14px;
    color: #6d7784;
}

.button-style {
    display: inline-block;
    font-family: $font_graphic-web;
    font-size: 16px;
    background: #683bc3;
    border-radius: 5px;
    padding: 19px 50px;
    color: white;
    font-weight: 300;
    border: none;
    letter-spacing: 1px;
    &:hover {
        color: white;
    }
    &.purple {
        transition: 0.3s ease;
        &:hover {
            background: #5d34b1;
        }
    }
}

.dropdown {
    position: relative;
    cursor: pointer;
    .dropdown-list {
        display: none;
        position: absolute;
        width: 100%;
        top: calc(100% + 6px);
        background: white;
        z-index: 23;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        font-size: 14px;
        color: #6d7784;
        max-height: 103px;
        overflow: auto;
        box-shadow: 0 5px 26px -7px rgba(0, 0, 0, 0.51);
        ul {
            li {
                a {
                    padding: 10px;
                    display: block;
                    &:hover {
                        background: rgba(240, 240, 240, 0.5);
                    }
                }
            }
        }
    }
}

.section-heading {
    text-align: center;
    .heading-title {
        font-size: 36px;
        margin-bottom: 12px;
    }
    .desc-text {
        font-size: 18px;
        font-weight: 300;
    }
}

.clearfix {
    &:after,
    &:before {
        content: "";
        display: block;
        clear: both;
    }
}

.form-element {
    margin-bottom: 32px;
    &:last-child {
        margin-bottom: 0;
    }
    .input-wrapper {
        position: relative;
        z-index: 2;
        .input-style {
            display: block;
            width: 100%;
            font-family: $font_graphic-web;
            padding: 12px 0;
            border: none;
            background: transparent;
            border-bottom: 1px solid #b5bed0;
            font-size: 16px;
            font-weight: 300;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                opacity: 0;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                opacity: 0;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                opacity: 0;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                opacity: 0;
            }
            &:focus,
            &.has-value {
                &+label {
                    top: -11px;
                    font-size: 12px;
                    color: #7e8696;
                }
            }
        }
        .placeholder {
            position: absolute;
            color: #b5bed0;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 300;
            z-index: -1;
            transition: 0.3s ease;
        }
    }
}

@media screen and (max-width: 1024px) {
    #signin {
        .page-holder {
            .side {
                position: relative !important;
                width: 100% !important;
                div.signin{

                padding-right: 0 ;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    header {
        .menu {
            display: none;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            padding: 20px 20px;
            box-sizing: border-box;
            background: #2a3440;
            ul {
                li {
                    display: block !important;
                    a {
                        padding: 20px !important;
                        text-align: center;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #manage {
        .manage-holder {
            .feature-list {
                width: 100% !important;
            }
            .form-holder {
                flex: initial;
                width: 100%;
                margin-top: 50px;
                .contact-form {
                    width: 100%;
                }
            }
        }
    }
    #modules {
        .details {
            width: 100% !important;
            margin-bottom: 50px !important;
        }
        .modules-list {
            width: 100% !important;
        }
    }
    #modules {
        .modules-list {
            div.module {
                width: calc((100% - 25px)/2);
                &:nth-child(3n + 0) {
                    margin-right: 25px !important;
                }
                &:nth-child(2n + 0) {
                    margin-right: 0 !important;
                }
            }
        }
    }
    #pricing {
        .price-list {
            .price {
                width: 100% !important;
                margin-right: 0 !important;
                margin-bottom: 24px;
            }
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
    #features {
        .feature-list {
            div.feature {
                width: calc((100% - 60px)/3) !important;
                height: 200px;
                padding-top: 40px;
                i.icon {
                    font-size: 50px !important;
                }
                &:nth-child(3n + 0) {
                    margin-right: 0;
                }
                &:nth-child(4n + 0) {
                    margin-right: 30px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    #features {
        .feature-list {
            div.feature {
                width: calc((100% - 30px)/2) !important;
                height: 200px;
                padding-top: 40px;
                i.icon {
                    font-size: 50px !important;
                }
                &:nth-child(2n + 0) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    footer {
        .brand-logo,
        .links {
            width: 100%;
            text-align: center;
        }
        .links {
            margin-top: 40px;
            ul {
                li {
                    display: block !important;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #features {
        .feature-list {
            div.feature {
                width: 100% !important;
                i.icon {
                    font-size: 50px !important;
                }
                margin-right: 0;
            }
        }
    }
    #modules {
        .modules-list {
            div.module {
                width: 100%;
                &:nth-child(3n + 0) {
                    margin-right: 25px !important;
                }
                &:nth-child(2n + 0) {
                    margin-right: 0 !important;
                }
            }
        }
    }
}


/*=====  End of Shared elements and componenets  ======*/


/*=============================================
=            Layouts            =
=============================================*/

@import "./layouts/_header";
@import "./layouts/_footer";

/*=====  End of Layouts  ======*/


/*=============================================
=            Views            =
=============================================*/

@import "./views/_home";
@import "./views/_signin";

/*=====  End of Views  ======*/


/*=============================================
=            Responsive            =
=============================================*/

@media screen and (max-width: $size_wrapper-width) {
    .wrapper {
        width: auto;
        padding: 0 20px;
    }
    #home-top {
        height: 700px;
        .end-desc {
            display: flex;
            justify-content: center;
            .desc {
                margin-bottom: auto;
            }
        }
        #info {
            display: none;
        }
        &:after,
        &:before {
            height: 100%;
        }
    }
}


/*=====  End of Responsive  ======*/